*.pyc
*.la
*.lo
*.loT
*.o
*.so
*.a
*~
tags
out
Makefile.qmake
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
py-compile
ibus-hangul-jis*.tar.*
ibus-hangul-jis.spec
test-driver

# vim temp backup file
.*.swp

# files for data
data/org.freedesktop.ibus.engine.hanguljis.metainfo.xml
data/org.freedesktop.ibus.engine.hanguljis.metainfo.xml.h

# files for po
po/*.gmo
po/*.pot
po/stamp-po
po/stamp-it

# files for setup
setup/config.py
setup/ibus-setup-hangul-jis
setup/ibus-setup-hangul-jis.desktop

# files for engine
src/test.sh
src/hanguljis.xml
src/hanguljis.xml.in
src/ibus-engine-hangul-jis

# files for tests
tests/ibus-hangul-jis

# VS Code
.vscode/